# Игнорируем всё, кроме нужных расширений
*
!*.py
!*.md
!*.txt
!*.sh
!*.json
!.gitignore

# Исключённые папки (чувствительная информация)
backup_user_data/
myenv/lib/python3.12/site-packages/tqdm/
pdf/
vosk-model-ru-0.10/
wine-prefix-backup/drive_c/

# Этот скрипт (чтобы не отправлять токен на GitHub)
/updata git.sh
